<br />
  <div align="center" class="col-10 offset-1 text-align">
  <h1><%= @register.full_name %>'s Application</h1>
  <p><%= @register.phone_number %></p>
  <p><%= @register.email %></p>
  <p><%= @register.city %></>
</div>

<div class="booyah-box col-10 offset-1">
  <h4>When can you start?</h4><hr>
  <p><%= @register.month %></p>
  <h4>High school?</h4><hr>
  <P><%= @register.highschool %></p>
  <h4>College</h4><hr>
  <p><%= @register.college %></p>
  <h4>Years Completed?</h4><hr>
  <p><%= @register.years %></p>
  <h4>What is your Major?</h4><hr>
  <p><%= @register.major %></p>
  <h4>Most Recent job company name if any</h4><hr>
  <p><%= @register.company_name %></p>
  <h4>Your last job title if any</h4><hr>
  <p><%= @register.job_title %></p>
  <h4>Description of duties, skills used/learned and achievements</h4><hr>
  <p><%= @register.description %></p>
  <h4>What do you wish to get out of this internship experience?</h4><hr>
  <p><%= @register.goals %></p>
</div>
