
<br />
<form class="form-inline my-2 my-lg-0 col-6 offset-3">
  <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], class:"form-control mr-sm-2", placeholder: "Search for internships by title, major, or city" %>
  <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
</form>
<br />
<div class="booyah-box col-10 offset-1">
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-6">
        <h1><%= @jobs.count %> Internships Found</h1>
      </div>
      <div id="sort" class="col-6">
        <h5> Sort By: <%= link_to 'Date', jobs_path(:sort => "date") %> |
          <%= link_to 'City', jobs_path(:sort => "city") %> |
          <%= link_to 'Major', jobs_path(:sort => "major") %>
      </div>
    </div>
  </div>
  <div class="jobresults">
  <% if @jobs.present? %>
    <% @jobs.each do |job| %>
      <div class="booyah-box col-10 offset-1" id="jobpost">
        <h1><%=link_to job.title, job_path(job) %></h1>
        <h4><%= job.name %></h4>
        <i><%= job.city %>, <%= job.state %></i><br /><br />
        <p><%= job.description[0..300] %>...</p><br />
        <p>posted: <%= job.posted %></p><br />
      </div>
    <% end %>
  <% else %>
    <p> There are no jobs with that search criteria </p>
  <% end %>
</div>
</div>

<br />
<div class="col-2 offset-5">
  <%= will_paginate %>
</div>
