<br />
<div class="col-10 offset-1">
  <h1><%= @jobs.count %> Internships Found</h1>
</div>
<% @jobs.each do |job| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%=link_to job.title, job_path(job) %></h1>
    <h4><%= job.name %></h4>
    <i><%= job.city %>, <%= job.state %></i><br /><br />
    <p><%= job.description %></p><br />
  </div>
<% end %>
